body
{
	background-color: #404040;
	font-family: 'Gemunu Libre', sans-serif;
}

div#container
{
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

div#logo
{
	color:white;
	margin-top: 20px;
	font-size: 44px;
	letter-spacing: 3px;
	font-weight: 900;
}

#inputs
{
	margin-top:10px;
	margin-bottom:10px;
	color:#2020ff;
}

li:hover
{
	cursor:pointer;
}

.rectangle
{	
	float: left;
	min-width: 80px;
	padding: 20px;
	background-color:#404040;
	border:7px solid orange;
	margin:10px;
	text-align:center;
	color: orange;
	bold:true;
	border-radius:20px;
}

.rectangle:hover
{
	background-color:orange;
	color:black;
	border-color:#FF8500;
}

.button
{
	margin-top:10px;
	background-color: yellow;
	min-width:50px;
	height:30px;
	border-radius:10px;
}

.button:hover
{
	background-color: green;
	cursor:pointer;
}

div#shop_items
{	
	float:left;
	width:650px;
	min-height:800px;

}

div#basket
{	
	float:right;
	width:350px;
	height:600px;
	background-color:orange;
	border-radius:20px;
}

.inside_basket
{
	margin-left:20px;
	margin-top:10px;
	font-size:20px;
}
